extends layout.pug
block header
    title Address #{coinbase}
block content
    .wrapper
        .main-content
            if (!error)
                h1 Nothing here!
            else
                h1 Oops!
                    h3 #{error}
                    
block foot
    .empty
