extends layout.pug
block header
    title Address #{address}
block content
    script
        include scripts/identicon.js
    .wrapper
        .main-content
            h2.ui.center.aligned.icon.header
                i.money.circular.icon
                if(!error)
                    h3  Success! Your transaction for 500 ETH is pending. Follow it here:
                    a(href='/tx/' + data)
                        p #{data}
                else
                    h3 Something went wrong requesting your ETH.
                    .ui.error.messages(style="max-width: 600px")
                        p #{error}
                            if(hash)
                                p
                                    a(href='/tx/' + hash) #{hash}
            if(!error)
                h3  Want more?
            else
                h3 Try again
            p Note that Requests are limited to 500 ETH per Address per day.
            .faucet
                .ui.action.input
                    input(type='text', placeholder='Address', style='width:400px', id='faucet_input')
                    button.ui.button(id='faucet') Request

block foot
    .wrapper.bottombar
        .padder

