html
  head
  style
    include styles.css
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js')
  script(src='https://cdn.jsdelivr.net/npm/identicon@2.1.1/dist/identicon.min.js')
    block header
        title Default Title
  body
    block searchbar
        include topbar.pug
    block content
        Default Content
    block foot
      #footer
        p Default Footer