.wrapper.topbar
  .padder Enter any Address or Transaction hash
    .ui.input(style="margin-left: 10px")
      input(type='text', placeholder='Search...' id='txtTopHeaderInput')
    button.ui.primary.button(style="margin-left: 10px" id="btnGo") Go