
.padder {
  padding: 10px;
}

.identicon {
  border-radius: 0px;
  overflow:hidden;
  -webkit-box-shadow: 0 0 10px 5px rgba(0,0,0,.05);
  box-shadow: 0 0 10px 5px rgba(0,0,0,.05);
}

.blockheight{
  font-size: 16px;
}
.topbar{
  background-color: #90CAF9;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}

bottombar{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}

.wrapper {
  display: flex;
  justify-content: center
}

.aligned {
  align-items: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 950px;
  max-width: 950px;
  padding: 10px;
  border-radius: 0px;
}

.ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
}
