.padder {
  padding: 15px;
}

.wrapper {
  display: flex;
  justify-content: center
}

.main-content {
  width: 900px;
  background-color: #d7d7d7;
  padding: 10px;
  border-radius: 5px;
}