.wrapper
  .padder Enter any Address or Transaction hash
    .ui.input(style="margin-left: 10px")
      input(type='text', placeholder='Search...')
    button.ui.primary.button(style="margin-left: 10px") Go